## Exercise No.2

**1-. Write a program to check whether a person is eligibl (age over 18 year)e for voting or not. (accept age from user**)

In [1]:
age = int(input("enter age"))
if  age >= 18 :
    print('is eligibl for voting')
else :
    print('is not eligibl for voting')

is not eligibl for voting

**2-Use
to print all the even numbers from 0 to 10.**

In [2]:
import numpy as np
numbers = np.arange(0,11 ,2)
print(numbers)

[ 0  2  4  6  8 10]

**4-Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [3]:
st = '**4-Use for, .split(), and if to create a Statement that will print out words that start with'

In [2]:
st = input("Enter your sentence : ")
words = st.split()
for word in words:
    if word.startswith('s'):
        print(word)

st
start

**5-Write a Python program that accepts a word from the user and reverses it**.

example:
input : Input a word to reverse:  hello world
output: dlrow olleh

In [ ]:
word_from_the_user = input("Write a word : ")
reverses_word = (word_from_the_user[::-1])
print(word_from_the_user)
print(reverses_word)

nbvnkj
jknvbn

**6-Write a Python program to count the number of even and odd numbers in a series of numbers** ers : 4


Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, ) 

Expected Output :

Number of even numbers : 5
Number of odd numbers : 4

In [7]:
num1 = int(input("num 1"))
num2 = int(input("num 2"))
numbers = range(num1,num2)
Number_of_even_numbers = 0
Number_of_odd_numbers = 0
for number in numbers :
    if number % 2 == 0 :
        Number_of_even_numbers += 1
    else :
        Number_of_odd_numbers += 1
print("Number_of_even_numbers is " +str(Number_of_even_numbers))
print("Number_of_odd_numbers is " + str(Number_of_odd_numbers))    

#print(Number_of_odd_numbers,Number_of_even_numbers)

Number_of_even_numbers is 24
Number_of_odd_numbers is 25

**7-Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".**

Sample Output :

fizzbuzz
1
2
fizz
4
buzz

In [7]:
def fizzbuzz():
    num1 = int(input("num 1"))
    num2 = int(input("num 2"))
    numbers = range(num1,num2)
    for i in numbers :
        if i % 3 == 0 and i % 5 == 0 :
            print ("FizzBuzz")
        elif i % 5 == 0 :
            print ("Buzz")
        elif i % 3 == 0 :
            print ("Fizz")
        else :
            print(i)
fizzbuzz()

FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz

**8. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :**

             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [17]:
Unit = int(input("number of unit from user"))
if Unit >= 200 :
    print("Rs 10 per unit")
elif Unit >= 100 :
    print("Rs 5 per unit")
elif Unit <  100 : 
    print("no charge")

Rs 10 per unit

**9-Handle the exception thrown by the code below by using try and except blocks.**

In [18]:
try:
    for i in ['a','b','c']:
        print(i**2)
except Exception as e :
    print ("something went wrong", e)

something went wrong unsupported operand type(s) for ** or pow(): 'str' and 'int'

**10-create your module "MyTemp" which contain two function :**

1.fahrenheit_to_celsius : its equation (Temperature in degrees Fahrenheit (째F) = (Temperature in degrees Celsius (째C) * 9/5) + 32)

2.celsius_to_fahrenheit: its equation (Temperature in degrees Celsius (째C) = (Temperature in degrees Fahrenheit (째F) - 32) * 5/9)

In [ ]:
import MyTemp as mt
tm.Temperature_in_degrees_Fahrenheit
tm.Temperature_in_degrees_Celsius